<div class="main-header">

    <div class="person-header">
        <img src="../../../assets/img/London_Tower Small.png" alt="Photo..." class="img-header">
        <div class="person-information">
            <div class="information">
                <h4 class="information-child__title">Software Engineer</h4>
                <h1 class="information-child__name">Miguel Angel Vargas Sanchez</h1>
            </div>
        </div>
    </div>

    <div class="details-header">
        <div class="align-bottom">
            <h5>Full Stack Developer</h5>
            <div>
                <mat-icon svgIcon="angularIcon"></mat-icon>
                <mat-icon svgIcon="dotnetIcon" class="dotnet-icon"></mat-icon>
            </div>
            <img src="../../../assets/img/devops.png" alt="DevOps" class="icon-stack">
        </div>
    </div>

</div>