<div class="container">
    <h1>About Me</h1>
    <p>Hi there! I'm Miguel, a passionate Software engineer. <br>
        I love Develop new capabilities and web pages, and I'm constantly exploring new things in Angular, .NET as my
        main stack and ReactJS - Node.JS enthusiast, also I am a DevOps student. <br>
        I enjoy going to the gym and read in my free time and believe in if you can think of it, you can do it. <br><br>
        Feel free to reach out to me at <br>
        <b>sanchez.vc&#64;hotmail.com</b> or <b>miguel.vargas.work&#64;outlook.com</b> <br>
        for any inquiries or collaborations!
    </p>
</div>