<section>
    <h2>Projects</h2>
    <div class="projects-carrousel">
        <div *ngFor="let project of projects">
            <mat-card class="project">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>{{project.Title}}</mat-card-title>
                    <mat-card-subtitle>{{project.Stack}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{project.ImgUrl}}"
                    alt="Photo of {{project.Title}}">
                <mat-card-content>
                    <p>
                        {{project.Description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>More Info...</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>