/* Project card styling */
.project {
    margin: 10px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.project h3 {
    padding: 10px;
    font-size: 1.2em;
}

.project p {
    padding: 10px;
}

/* Adjust spacing as needed */
.project + .project {
    margin-top: 20px;
}


.projects-carrousel {
    display: flex;
    flex-direction: row;
}
